# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
indent_style = space

# 4 space indentation
[*.{py,java,r,R}]
indent_size = 4

# 2 space indentation
[*.{js,ts,json,y{a,}ml,html,cwl}]
indent_size = 2
max_line_length = 80

[*.{md,Rmd,rst}]
trim_trailing_whitespace = false
indent_style = space
indent_size = 2
max_line_length = 0

[COMMIT_EDITMSG]
max_line_length = 0








